body{
  background-color:black;
}

.view{
  height:150%;
  position: absolute;
}

.dgn{
  font-size:90;
}

 .row{
  margin-top: 50px;
 }

 .pos{
   padding-top: 20px;
 }

 .panel {
    background: none;
  }

 .panel-default .panel-heading {
    background-color: #f6f6f6;
    border-color: #cfd9db;
    border-style:solid;
    border-width:1px 1px 1px 1px;
    font-weight: bold;
    font-size: 14;
    text-transform: uppercase;
    padding:10px 15px 10px 15px;
}

.bodyi {
    padding-bottom: 55px;
}

.pull-right {
    float: right;
}

.search {
    border: 0;
    background-color: transparent;
    color: #4f4f4f;
    font-size:20;
    margin:-5px;
}

  .col-sm-3{
    font-size: 14px;
 }

  img{
    border-radius: 6px;
}

  .text-center {
    text-align: center;
 }

 p{
    color: white;
    font-size: 16px;
 }

 .btn{
   color: white;
   font-weight: bold;
   width: 85px;
   border-width: 2px;
 }

 .btns:hover{
   background: #59de65;
 }

 .btnss:hover{
   background:  #f36060;
 }
